workflow:
  rules:
    - changes:
        - backend/users/**/*
        - backend/expenses/**/*
        - frontend/dashboard/**/*
      when: always

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include: 
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include: 
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include: 
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
