# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
/dist
/.vite
vite.svg

# Testing
coverage/

# Editor
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo

# .env files
.env