# Copy to .env and fill values. DO NOT COMMIT the real token.
GITLAB_REGISTRATION_TOKEN=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
GITLAB_ROOT_PASSWORD=
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=
SONAR_DB_USER=
SONAR_DB_PASSWORD=
GITLAB_DB_USER=
GITLAB_DB_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
SUPERVISOR_USER=
SUPERVISOR_PASS=
DOCKER_REGISTRY_USER=
DOCKER_REGISTRY_TOKEN=
WATCHTOWER_HTTP_API_TOKEN=

# users service
EXPENSES_MANAGEMENT_USERS_DATABASE_SERVER=
EXPENSES_MANAGEMENT_USERS_DATABASE_PORT=
EXPENSES_MANAGEMENT_USERS_DATABASE_USERNAME=
EXPENSES_MANAGEMENT_USERS_DATABASE_PASSWORD=
EXPENSES_MANAGEMENT_USERS_DATABASE_DATABASE=
EXPENSES_MANAGEMENT_USERS_JWT_SECRET_KEY=
EXPENSES_MANAGEMENT_USERS_JWT_EXPIRY_IN_MINUTES=
EXPENSES_MANAGEMENT_USERS_JWT_AUDIENCE=
EXPENSES_MANAGEMENT_USERS_JWT_ISSUER=
EXPENSES_MANAGEMENT_USERS_EMAILAUTH_EMAIL=
EXPENSES_MANAGEMENT_USERS_EMAILAUTH_PASSWORD=
EXPENSES_MANAGEMENT_USERS_EMAILAUTH_HOST=
EXPENSES_MANAGEMENT_USERS_EMAILAUTH_PORT=
EXPENSES_MANAGEMENT_USERS_EMAILAUTH_ENABLESSL=
EXPENSES_MANAGEMENT_USERS_AUTHSERVICE_VERIFY_EMAIL_URL=
EXPENSES_MANAGEMENT_CRYPTOGRAPHY_MAXIMUM_SALT_SIZE=

# expenses service
EXPENSES_MANAGEMENT_EXPENSES_DATABASE_SERVER=
EXPENSES_MANAGEMENT_EXPENSES_DATABASE_PORT=
EXPENSES_MANAGEMENT_EXPENSES_DATABASE_USERNAME=
EXPENSES_MANAGEMENT_EXPENSES_DATABASE_PASSWORD=
EXPENSES_MANAGEMENT_EXPENSES_DATABASE_DATABASE=
EXPENSES_MANAGEMENT_EXPENSES_RABBITMQ_HOSTNAME=
EXPENSES_MANAGEMENT_EXPENSES_RABBITMQ_PORT=
EXPENSES_MANAGEMENT_EXPENSES_RABBITMQ_USERNAME=
EXPENSES_MANAGEMENT_EXPENSES_RABBITMQ_PASSWORD=
