# Copy to .env and fill values. DO NOT COMMIT the real token.
GITLAB_REGISTRATION_TOKEN=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
GITLAB_ROOT_PASSWORD=
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=
SONAR_DB_USER=
SONAR_DB_PASSWORD=
GITLAB_DB_USER=
GITLAB_DB_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
SUPERVISOR_USER=
SUPERVISOR_PASS=
DOCKER_REGISTRY_USER=
DOCKER_REGISTRY_TOKEN=
