version: '3.8'

networks:
  expenses_manager_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.9.9-management
    networks:
      - expenses_manager_network
    ports:
      - "5672:5672"    # AMQP port
      - "15672:15672"  # Management plugin port
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - ./configs/rabbitmq:/etc/rabbitmq   # Mount custom configuration file
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq
    command: rabbitmq-server
    
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.30.3
    networks:
      - expenses_manager_network
    ports:
      - "9090:9090"
    volumes:
      - ./configs/prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    container_name: grafana
    image: grafana/grafana:8.3.0
    networks:
      - expenses_manager_network
    ports:
      - "3000:3000"
    volumes:
      - ./volumes/grafana/data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
  
  postgres:
    image: postgres:16
    container_name: expenses_postgres
    networks:
      - expenses_manager_network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/postgres/backups:/backups
      - ./volumes/postgres/data:/var/lib/postgresql/data
      
  redis:
    image: redis:7
    container_name: redis
    networks:
      - expenses_manager_network
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis/data:/data
      
  minio:
    container_name: minio
    image: minio/minio
    command: server /data --console-address ":9050"
    networks:
      expenses_manager_network:
        ipv4_address: 172.20.0.30
    ports:
      - "9001:9000" # MinIO S3 API
      - "9050:9050" # MinIO Console
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - ./volumes/minio/data:/data
      
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    networks:
      expenses_manager_network:
        ipv4_address: 172.20.0.20
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - ./volumes/sonarqube/data:/opt/sonarqube/data
      - ./volumes/sonarqube/extensions:/opt/sonarqube/extensions
      - ./volumes/sonarqube/logs:/opt/sonarqube/logs
  
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    hostname: gitlab.local
    networks:
      expenses_manager_network:
        ipv4_address: 172.20.0.10
    depends_on:
      - redis
      - postgres
      - minio
    ports:
      - "8080:80"
      - "8443:443"
      - "2222:22"
      - "5050:5050"
    volumes:
      - ./configs/gitlab:/etc/gitlab
      - ./volumes/gitlab/logs:/var/log/gitlab
      - ./volumes/gitlab/data:/var/opt/gitlab
    shm_size: "256m"
    mem_limit: 4g
    cpus: 2
    environment:
      GITLAB_ROOT_PASSWORD: "SlzdQmrjSotkX45/*!!dq" # to change
      GITLAB_OMNIBUS_CONFIG: |
        ### when using external reverse proxy
        letsencrypt['enable'] = false
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        nginx['redirect_http_to_https'] = false
        nginx['gzip_enabled'] = false
        external_url 'http://localhost:8080'
        # Enable GitLab Container Registry
        gitlab_rails['registry_enabled'] = true
        registry['enable'] = true
        registry_external_url 'http://gitlab:5050'
        registry_nginx['listen_port'] = 5050
        registry_nginx['listen_https'] = false
        # Advertise a token auth realm reachable from containers
        registry['token_realm'] = 'http://gitlab'
        registry['token_service'] = 'container_registry'
        registry['token_issuer'] = 'gitlab-issuer'
        postgresql['enable'] = false
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'utf8'
        gitlab_rails['db_database'] = 'gitlab'
        gitlab_rails['db_username'] = 'gitlab'
        gitlab_rails['db_password'] = 'gitlab'
        gitlab_rails['db_host'] = 'postgres'
        gitlab_rails['db_port'] = 5432
        redis['enable'] = false
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = 6379
        gitlab_rails['redis_database'] = 0
        prometheus['enable'] = false
        prometheus_monitoring['enable'] = false
        alertmanager['enable'] = false
        gitlab_rails['object_store']['enabled'] = true
        gitlab_rails['object_store']['connection'] = {
          'provider' => 'AWS',
          'aws_access_key_id' => 'minio',
          'aws_secret_access_key' => 'minio123',
          'region' => 'eu-west-1',
          'endpoint' => 'http://minio:9000',
          'path_style' => true
        }
        gitlab_rails['object_store']['objects']['artifacts'] = {
          'bucket' => 'gitlab-artifacts',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['lfs'] = {
          'bucket' => 'gitlab-lfs',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['packages'] = {
          'bucket' => 'gitlab-packages',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['uploads'] = {
          'bucket' => 'gitlab-uploads',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['registry'] = {
          'bucket' => 'gitlab-registry',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['terraform_state'] = {
          'bucket' => 'gitlab-terraform-state',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['dependency_proxy'] = {
          'bucket' => 'gitlab-dependency-proxy',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['pages'] = {
          'bucket' => 'gitlab-pages',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['ci_secure_files'] = {
          'bucket' => 'gitlab-ci-secure-files',
          'enabled' => true
        }
        gitlab_rails['object_store']['objects']['external_diffs'] = {
          'bucket' => 'gitlab-external-diffs',
          'enabled' => true
        }
        ### disable almost all optional services
        #gitlab_kas['enable'] = false
        #gitlab_rails['smtp_enable'] = false
        #gitlab_rails['microsoft_graph_mailer_enabled'] = false
        #mattermost['enable'] = false
        #mattermost_nginx['enable'] = false
        #postgres_exporter['enable'] = false
        #pgbouncer_exporter['enable'] = false
        #node_exporter['enable'] = false
        #redis_exporter['enable'] = false
        #monitoring_role['enable'] = false
        #gitlab_exporter['enable'] = false
        ### configure for low-memory usage
        puma['worker_processes'] = 1
        sidekiq['max_concurrency'] = 3
        ### disable service ping (telemetry)
        #gitlab_rails['usage_ping_enabled'] = false
        ### disable gitlab pages
        #gitlab_pages['enable'] = false
        ### disable mailroom
        #mailroom['enable'] = false
        
  mirror-cron:
    image: alpine:3.19
    container_name: mirror-cron
    networks:
      - expenses_manager_network
    depends_on:
      - gitlab
    volumes:
      - ./scripts:/scripts:ro
      - ./volumes/mirror/work:/work
      - ./volumes/mirror/logs:/var/log
      - ./configs/cron/mirror-crontab:/etc/crontabs/root:ro
      - ./configs/cron/repos.txt:/etc/mirror/repos.txt:ro
      - ./configs/ssh/id_ed25519:/secrets/id_ed25519:ro
      - ./configs/ssh/known_hosts:/secrets/known_hosts:ro
    command: /bin/sh -c "apk add --no-cache git git-lfs openssh tzdata coreutils && \
      mkdir -p /root/.ssh && cp /secrets/id_ed25519 /root/.ssh/id_ed25519 && chmod 600 /root/.ssh/id_ed25519 && \
      cp /secrets/known_hosts /root/.ssh/known_hosts && crond -f -l 8"

  docker-dind:
    image: docker:27-dind
    container_name: docker-dind
    privileged: true
    networks:
      - expenses_manager_network
    environment:
      DOCKER_TLS_CERTDIR: ""
    command:
      - "--host=tcp://0.0.0.0:2375"
      - "--storage-driver=vfs"
    volumes:
      - dind-data:/var/lib/docker
    
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    container_name: gitlab-runner
    networks:
      - expenses_manager_network
    depends_on:
      - gitlab
      - docker-dind
    volumes:
      - ./configs/gitlab-runner:/etc/gitlab-runner
    environment:
      CI_SERVER_URL: http://gitlab:80
      DOCKER_HOST: tcp://docker-dind:2375
      DOCKER_TLS_CERTDIR: ""

volumes:
  dind-data:
